@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:wght@400;700&family=Roboto&family=Roboto+Flex:opsz,wght,XOPQ,XTRA,YOPQ,YTDE,YTFI,YTLC,YTUC@8..144,100..1000,96,468,79,-203,738,514,712&display=swap');
* {
    color: rgb(36, 62, 99);
    font-family: Inter, sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


nav {
    display: flex;
    height: 72px;
    padding-top: 32px;
}

.nav__logo {
    display: flex;
    align-items: center;
    padding: 16px;
}

.nav__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.nav__logo--img {
    width: 40px;
    height: 40px;
    margin-right: 8px;
}

.nav__logo--title {
    font-size: 24px;
    font-weight: 900;
    color: rgb(36, 62, 99);

}

.nav__links {
    display: flex;
    align-items: center;
    list-style-type: none;
    cursor: pointer;
}

.nav__link {
    font-size: 14px;
    padding: 16px;
    font-weight: 600;
    text-decoration: none;
}

.nav__link:hover {
    text-decoration: underline;
}

.login {
    margin-left: 16px;
    font-weight: 800;
    font-size: 14px;
}


.nav__link--primary {
    background-color: rgb(100, 21, 255);
    color: white;
    border-radius: 999px;
    padding: 12px 32px;
    font-size: 14px;
    font-weight: 600;
    margin-right: 16px;
}

.nav__link--primary:hover {
    background-color: rgb(67, 0, 200);
    color: white;
    border-radius: 999px;
    padding: 12px 32px;
    font-weight: 600;
    margin-right: 16px;
    text-decoration: none;
}

.btn__menu {
    background-color: transparent;
    padding: 16px;
    border:none;
    font-size: 28px;
    display: none;
    cursor: pointer;
}

.menu__backdrop {
    position: fixed;
    background-color: white;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 380px;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-items: center;
    transition: 300ms ease; 
    opacity: 0;
    visibility: hidden;
}

.menu--open .menu__backdrop {
    display: flex;
    visibility: visible;
    opacity: 1;
}

.menu--open {
    max-height: 100vh;
    overflow-y: hidden;
}

.btn__menu--close {
    position: absolute;
    right: 20px;
    top: 10px;
    color: #ffffff;
}

.menu__links {
    color: rgb(36, 62, 99);
    display: flex;
    align-items: center;
    flex-direction: column;
    font-weight: 600;
    font-size: 18px;
    width: 90%;
    margin: 0 auto;
    list-style-type: none;
    gap: 16px;
}

.menu__link {
    text-decoration: none;
}
.menu__link:hover {
    text-decoration: underline;
}

.header__row--top {
    display: flex;
    justify-content: space-between;
    width: 1300px;
    margin: 0 auto;
    align-items: center;
    margin-top: 56px;
    max-width: 100%;

}

.header__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 160px;
    margin-right: 48px;
    margin-left: 48px;
}

.header__description--wrapper {
    display: flex;
    flex-direction: column;
    max-width: 40%;
    margin-right: 16px;
    margin-left: 16px;

}

.header__title {
    font-size: 48px;
    font-weight: 700;
    color: #1a202c;
}

.header__title--bold {
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 48px;
    letter-spacing: .025em;
}

.purple {
    color: rgb(67, 0, 200);
}

.header__para {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.625;
    max-width: 45vw;
    margin-top: 32px;
}

.email__input--wrapper {
    width: 100%;
    max-width: 448px;
    align-items: center;
    margin-top: 56px;
    margin-bottom: 32px;
    display: flex;
    position: relative;
    
}

.header__email--input {
    padding: 24px 32px;
    border: 1px solid rgb(200, 200, 200);
    border-radius: 500px;
    width: 100%;
    position: absolute;
}


.header__email--btn {
    background-color: rgb(100, 21, 255);
    color: white;
    border-radius: 999px;
    border: none;
    padding: 16px 24px;
    font-size: 14px;
    font-weight: 600;
    position: absolute;
    right: .5rem;
    

}

.header__email--btn:hover {
    background-color: rgb(67, 0, 200);
    color: white;
    border-radius: 999px;
    padding: 16px 24px;
    font-weight: 600;
    margin-right: 16px;
    text-decoration: none;
}

.header__description--add {
    position: relative;
    display: flex;
    flex-direction: column;
    top: 96px;
    margin: 0 auto;
    margin-left: 16px;
    padding-top: 16px;
    max-width: 40vw;
}

.header__para--sub {
    font-size: 12px;
    color: rgb(173, 173, 173);
    font-weight: bold;
    padding-top: 56px;
}

.img__sub {
    max-width: 380px;
    padding-top: 16px;
   
}

.header__description--img {
    position: relative;
}

.header__img {
    width: 800px;
   margin-top: 64px;
   margin-right: 16px;
   z-index: 1;   
}

.section__title {
    font-weight:600;
    font-size: 16px;
    margin-top: 24px;
    margin-bottom: 24px;
    margin-left: 16px;
}

.row__narrow {
    width: 100%;
    max-width: 1024px;
    margin:0 auto;
    margin-top: 160px;
}

.section__title--center {
    text-align: center;
    font-weight:600;
    font-size: 16px;
    margin-top: 24px;
    margin-bottom: 24px;
}

.features__header--wrapper {
    justify-items: center;
}


.features__title {
    font-weight:600;
    font-size: 16px;
    margin-top: 24px;
    margin-bottom: 24px;

}

.features__title--bold {
    font-weight: 900;
    font-size: 48px;
    margin-bottom: 48px;
}

.header__para--feature {
    margin-top: 24px;
    max-width: 576px;
    text-align: center;
    font-size: 18px;
    color: #7c8ba1;
    line-height: 2;
    font-weight: 500;
}

.features {
    display: flex;
    flex-wrap: wrap;
    margin-top: 112px;
}

.feature {
    width: calc(100%/3);
}

.feature__row {
    display: flex;
    align-items: flex-start;
    padding: 24px 24px;
}

.feature__img--wrapper {
    display: flex;
    padding: 20px;
    border: 1px solid rgb(200, 200, 200);
    border-radius: 500px;
    text-align: left;
}

.feature__img {
    width: 24px;
    height: 24px;
}

.feature__text {
    margin-top: 8px;
    margin-left: 16px;
}

.feature__para {
    margin-top: 16px;
    font-size: 16px;
    max-width: calc(634px / 3);
    color: #7c8ba1;
    line-height: 2;
    font-weight: 500;
    text-align: left;
}

.btn__learnmore {
    background-color: rgb(100, 21, 255);
    color: white;
    border-radius: 999px;
    border: none;
    padding: 16px 24px;
    font-size: 14px;
    font-weight: 600;
    margin-left: 12px;
    margin-top: 16px;
}

.header__row--middle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    margin: 0 auto;
    margin-top: 160px;
    margin-right: 48px;
    margin-left: 48px;
}


.quality__description--wrapper {
    display: flex;
    flex-direction: column;
    margin: 16px 16px;
    max-width: 40%;
}

.quality__para {
    font-size: 18px;
    font-weight: 500;
    color: #7c8ba1;
    line-height: 1.625;
    margin-left: 16px;
}


.img__wrapper {
    position: relative;
}

.hero__screenshot {
    position: relative;
    max-width: 100%;
    width: 576px;
    border: 1px solid rgb(175, 175, 175);
    z-index: 1;
    top: -3rem;
    right: 2rem;
}

.quality__grid {
    width: 80px;
    height: 80px;
    position: absolute;
    right: .5rem;
    bottom: .75rem;
    fill: rgb(100, 21, 255);
    --tw--text-opacity: 1;
    color: rgb(100, 21, 255, var(--tw-text-opacity));
    z-index: 0;

}

.hero__screenshot--2 {
    position: relative;
    border: none;
    max-width: 100%;
    width: 576px;
    z-index: 1;
    margin-left: 2rem;
    margin-bottom: 7rem;
}

.steps__grid {
    width: 160px;
    height: 160px;
    position: absolute;
    fill: rgb(238, 230, 255);
    --tw--text-opacity: 1;
    color: rgb(100, 21, 255, var(--tw-text-opacity));
    left: 19.5rem;
    transform: translateX(-50%);
    bottom: 43px;
}

.steps__description--wrapper {
    margin-right: 32px;
    

}

.steps__title {
    font-weight:600;
    font-size: 16px;
    margin-bottom: 24px;
}

.steps__title--bold {
    font-size: 48px;
    font-weight: 900;
    color: rgb(74, 85, 104);
}

.header__title--steps {
    padding-top: 16px;
    padding-bottom: 32px;
}


.step__number--wrapper:nth-child(1)
.step__description {
    margin-left: 6px;
}

.step__number--wrapper.plan:nth-child(1).step__number {
    margin-left: 4px;
}


.step__number--wrapper {
    display: flex;
    align-items: flex-start;
    margin-top: 24px; 
    max-width: 400px;
    
}

.step__number {
    font-size: 36px;
    color: rgb(203,213,224);
    font-weight: 700;
    padding-right: 16px;
}

.step__title {
    font-weight: 600;
    font-size: 20px;
    padding-bottom: 8px;
    color: rgb(36, 62, 99);

}

.step__para {
    font-size: 16px;
    color:rgb(113, 128, 150);
    font-weight: 500;
    line-height: 2;
}

.values__description--wrapper {
    display: flex;
    flex-direction: column;
    margin: 16px 16px;
    max-width: 40%;
}

.value__description {
    font-size: 16px;
    font-weight: 400;
    margin: 16px 16px;
    line-height: 1.625;
    max-width: 45vw;
}

.values__list {
    display: flex;
    width: 100%;
}

.value {
    margin-top: 32px;
    margin-right: 28px;
    padding-left: 16px;
}

.value__title {
    align-items: center;
    display: flex;
}


.value__name {
    font-size: 20px;
    font-weight: bold;
    color: rgb(36, 62, 99);
}



.value__para {
    margin-top: 16px;
    line-height: 1.5;
    color: rgb(118, 118, 118);
}



.values__img--1 {
    color: rgb(0, 115, 88);
    border: 1px solid rgb(110, 255, 221); 
    background-color: rgb(110, 255, 221);
    border-radius: 50px;
    padding: 12px;
    max-height: 48px;
    margin-right: 8px;
}

.values__img--2 {
    border: 1px solid rgb(255, 193, 203); 
    background-color: rgb(255, 193, 203);
    border-radius: 50px;
    padding: 12px;
    max-height: 48px;
    margin-right: 8px;
}

.btn__learnmore--wrapper {
    margin-top: 24px;
}



.prototype__img {
    max-width: 100%;
    width: 720px;
    padding-left: 64px;
}

.pricing__description--wrapper {
    justify-items: center;
}


.pricing__title--header {
    font-weight: 900;
    font-size: 48px;
    padding-top: 16px;
    margin-bottom: 48px;
}

.pricing__para{
    margin-top: 24px;
    max-width: 576px;
    text-align: center;
    font-size: 18px;
    color: #7c8ba1;
    line-height: 2;
    font-weight: 500;
    
}

.pricing__section {
    justify-items: center;

}

.plans {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 1300px;
    position: relative;
    margin-right: 24px;
    margin-left: 24px;
}

.plan {
    position: relative;
    margin-top: 4rem;
    display: flex;
    width: 100%;
    max-width: 24rem;
    flex-direction: column;
    border-radius: .5rem;
    background-color: rgb(255, 255, 255);
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: .5rem;
    margin-right: 2rem;
    text-align: center;
    color: rgb(26,32,44);
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    z-index: 1;
}
.plans__blob {
    z-index: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 256px;
    width: 256px;
    opacity: .25;
    transform: translateX(-50%) translateY(50%);
}

.plan:nth-child(1)
.plan__stripe {
    color: #f7fafc;
    background: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
}    

.plan__stripe {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    height: .5rem;
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
}

.plan__top {
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
    padding-bottom: 2rem;
    line-height: 1.625;
}

.pricing {
    color: #1a202c;
    font-size: 48px;
    margin: 4px 0;
    font-weight: bold;
    line-height: 1.625;
}

.plan:nth-child(odd)
.plan__name {
    color: #1a202c;
}

.plan__name {
    font-size: 20px;
}

.plan__name
.pricing {
    font-weight: bold;
    line-height: 1.625;
}

.plan.plan:nth-child(odd)
.time {
    color: #a0aec0;
}

.time {
    font-size: 16px;
    letter-spacing: .1em;
    font-weight: bold;
    line-height: 1.625;
}

.plan:nth-child(1) 
.plan__middle
.plan:nth-child(3) {
    border-top: 2px solid rgb(229,231,235);
    border-bottom: 2px solid rgb(229,231,235);
}


.plan__middle {
    margin-left: -2rem;
    margin-right: -2rem;
    display: flex;
    flex-direction: column;
    border-top: 2px solid rgb(229,231,235);
    border-bottom: 2px solid rgb(229,231,235);
    padding: 2rem;
}

.list__wrapper {
    list-style: none;
}

.list__feature {
    margin-top:20px;
    font-weight: 500;
    color:#718096;
    font-size: 16px;
    line-height: 1.5;
}

.description__title {
    color: #1a202c;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: .025em;
}

.plan__bottom {
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.btn__buy-now--1 {
    background: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
    color: white;
    border-radius: 999px;
    border: none;
    padding: .75rem 2rem;
    font-size: 16px;
    font-weight: 600;
    transition: all 300ms ease;
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    letter-spacing: .05em;
}

.btn__buy-now--1:hover {
    background-color: rgb(121, 213, 209);
    color: white;
    border-radius: 999px;
    padding: 16px 24px;
    font-weight: 600;
    text-decoration: none;
    transform: translate(1px, -1px);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.plan:nth-child(2) {
    background: linear-gradient(135deg, rgb(76,81,191) 0%, rgb(102,126,234) 100%);

}

.plan:nth-child(2)
.pricing__title,
.plan:nth-child(2) .pricing,
.plan:nth-child(2) .time,
.plan:nth-child(2) .list__feature--middle,
.plan:nth-child(2) .description__title {
    color: rgb(255, 255, 255);
}

.plan:nth-child(2)
.plan__middle {
    border-top: 2px solid rgb(102,126,234);
    border-bottom: 2px solid rgb(102,126,234);
}

.list__feature--middle {
    margin-top:20px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
}



.btn__buy-now--2 {
    color: rgb(100, 21, 255);
    background-color: white;
    border-radius: 999px;
    border: none;
    padding: .75rem 2rem;
    font-size: 16px;
    font-weight: 600;
    transition: all 300ms ease;
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    letter-spacing: .05em;
}

.btn__buy-now--2:hover {
    color: rgb(100, 21, 255);
    border-radius: 999px;
    padding: 16px 24px;
    font-weight: 600;
    text-decoration: none;
    transform: translate(1px, -1px);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.plan:nth-child(3)
.plan__stripe,
.plan:nth-child(3) .btn__buy-now--3 {
    color: #f7fafc;
    background:linear-gradient(115deg, rgb(245, 101, 101) 0%, rgb(253, 145, 145) 100%);
}
    

.btn__buy-now--3 {
    color: white;
    border-radius: 999px;
    border: none;
    padding: .75rem 2rem;
    font-size: 16px;
    font-weight: 600;
    transition: all 300ms ease;
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    letter-spacing: .05em;
}

.btn__buy-now--3:hover {
    background-color: rgb(253, 145, 145);
    color: white;
    border-radius: 999px;
    font-weight: 600;
    text-decoration: none;
    transform: translate(1px, -1px);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.header__row--bottom {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
    align-items: center;
    margin-top: 160px;
    margin-right: 48px;
    margin-left: 48px;
    justify-items: center;
}

.love__img--wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 476px;
    margin: 0 auto;
}

.love__img {
    width: 90%;
    margin-bottom: 120px;
}

.testimonial__description--wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 32px;
    margin-bottom: 120px;

}


.testimonial__title {
    margin:32px 16px;
    font-size: 20px;
    color: rgb(74, 85, 104);
}

.header__title--bold {
    margin-left: 16px;
}

.testimonial__para {
    font-size: 16px;
    padding-bottom: 24px;
    color:rgb(74, 85, 104);
    font-weight: 500;
    margin-left: 16px;
}

.section__description {
    color: rgb(175, 175, 175);
    padding-left: 16px;
}


.fas {
    color: rgb(255, 221, 30);
    margin-top: 32px;
    margin-left: 16px;
}

.testimonial__profile--wrapper {
    display: flex;
    justify-content: space-between;
}

.testimonial__profile {
    display: flex;
    align-items: center;
    margin-left: 16px;
}



.profile__img {
    border-radius: 50%;
    width: 100px;
    margin-right: 16px;
}

.profile__name {
    font-size: 20px;
    font-weight: 600;
    line-height: 1.5;

}

.profile__name--title {
    font-size: 16px;
    font-weight: 400;
    color: rgb(175, 175, 175);
    line-height: 1.5;
}

.testimonial__btn--wrapper {
    margin-left: 16px;
    display: flex;
    align-items: center;
}

.btn__left {
    border: 1px solid rgb(233, 233, 233);
    border-radius: 999px;
    padding: 12px;
    background-color: rgb(233, 233, 233);
    transition: 300ms ease;
}

.divider {
    border: 1px solid rgb(233, 233, 233);
    height: 24px;
    margin: 8px;
}

.btn__right {

    border: 1px solid rgb(233, 233, 233);
    border-radius: 999px;
    padding: 12px;
    background-color: rgb(233, 233, 233);
    transition: 300ms ease;
}


.btn__left:hover {
    background-color: rgb(219, 219, 219);
    border-radius: 999px;
    padding: 12px;
    font-weight: 600;
    text-decoration: none;
}

.btn__right:hover {
    background-color: rgb(219, 219, 219);
    border-radius: 999px;
    padding: 12px;
    font-weight: 600;
    text-decoration: none;
}   

.final__container {
    position: relative;
    padding: 96px 0px;
    background-color: rgb(100, 21, 255);
    border-top-left-radius: 12px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 2px;
    margin-left:48px;
    margin-right: 48px;
    margin-bottom: 96px;
    overflow: hidden;
}

.final__row {
    position: relative;
    display: flex;
    justify-content: space-between;
    z-index: 0;
    margin: 0 auto;
    max-width: 90%;


}

.start__blob--1 {
    position: absolute;
    top: -1rem;
    left: -4rem;
    height: 20rem;
    width: 20rem;
    color: rgb(80,17,204);
    opacity: .7;
    z-index: 1;
}

.start__blob--2 {
    position: absolute;
    bottom: 7rem;
    right: -5rem;
    height: 20rem;
    width: 20rem;
    color: rgb(80,17,204);
    opacity: .7;
    z-index: 1;
}

.final__title {
    font-size: 30px;
    font-weight: 700;
    color: #f7fafc;
    line-height: 1.5;
    z-index: 2;
    position: relative;
    width: 50%;
    max-width: 476px;
    
}

.start__buttons {
    z-index: 2;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.btn__get-started {
    background-color: rgb(255, 72, 72);
    color: #f7fafc;
    border: none;
    border-radius: 500px;
    padding: 16px 24px;
    font-size: 16px;
    font-weight: 700;
    transition: 300ms ease;
    box-shadow: rgba(0,0,0,0) 0px 0px 0px 0px, rgba(0,0,0,0) 0px 0px 0px 0px, rgba(0,0,0,0.1) 0px 10px 15px -3px, rgba(0,0,0,0.05) 0px 4px 6px -2px;
    margin: 0 16px;
}

.btn__get-started:hover {
    background-color: rgb(203, 58, 58);
    color: #f7fafc;
    text-decoration: none;
    cursor: pointer;
    
}

.btn__contact-us {
    background-color: rgb(100, 21, 255);
    color: #f7fafc;
    border-radius: 999px;
    border: 1px solid rgb(200, 200, 200);
    padding: 16px 24px;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.5;
    transition: 300ms ease;
}

.btn__contact-us:hover {
    background-color: rgb(243, 236, 255);
    color: rgb(100, 21, 255);
    text-decoration: none;
}

.bottom__nav {
    max-width: 100%;
    background-color: rgb(100, 21, 255);
    padding: 96px 16px;
    z-index: 0;
    overflow: hidden;
    position: relative;

}

.bottom__nav--wrapper {
    display: flex;
    justify-content: space-between;
    margin-right: 32px;
    margin-left: 32px;
}

.start__blob--3 {
    position: absolute;
    left: -5rem;
    bottom: 13rem;
    height: 20rem;
    width: 20rem;
    color: rgb(80,17,204);
    opacity: .6;
    z-index: 1;
    
}

.bottom__nav--info {
    z-index: 2;
}

.bottom__nav--title {
    font-size: 18px;
    font-weight: 700;
    padding: 16px 16px;
    line-height: 2;
    color: rgb(255, 255, 255);
}

.bottom__nav--lists {
    color: rgb(255, 255, 255);
    list-style: none;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.5;
    transition-property: text-decoration; 
    transition-duration: 1000ms ;
    transition-timing-function: ease ;
    transition-delay: 200ms;
    
}

.list {
    color: rgb(255, 255, 255);
    line-height: 2;
}

.list:hover {
    text-decoration: underline;
    cursor: pointer;
    transition: 300ms;
}

.footer__divider {
    border: .5px solid rgb(136, 79, 249);
    width: 100%;

}


.footer {
    position: relative;
    background-color: rgb(100, 21, 255);
    padding: 32px 16px;
    overflow: hidden;
}

.footer__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo__wrapper {
    display: flex;
    align-items: center;
}

.footer__logo {
    max-height: 48px;
    padding-right: 8px;
}

.footer__logo--title {
    font-size: 20px;
    font-weight: 800;
    color: rgb(255, 255, 255);
    padding-left: 8px;

}

.footer__copyright {
    font-size: 16px;
    color: rgb(255, 255, 255);
    padding: 16px 16px;

}

.footer__socials {
    position: relative;
    display: flex;
    z-index: 2;
    align-items: center;

}

.footer__socials--icon {
    color: rgb(255, 255, 255);
    border: 1px solid rgb(255, 255, 255);
    border-radius: 999px;
    padding: 16px 16px;
    margin: 12px;
    background-color: rgb(255, 255, 255);
    transition: 300ms ease;
    z-index: 2;
}

.footer__socials--icon:hover {
    cursor: pointer;
    background-color: rgb(219, 219, 219);
    border-color: rgb(219, 219, 219);
    z-index: 2;
}

.start__blob--4 {
    position: absolute;
    top: 4rem;
    right: -4rem;
    height: 20rem;
    width: 20rem;
    color: rgb(80,17,204);
    opacity: .7;
    z-index: 1;
}

/* Mid-size Screens */

@media (max-width: 1189px) {
    .header__img {
        width: 576px;
    }

    .prototype__img {
        width: 576px;
    }

    .plans {
        max-width: 1096px;
    }


    .hero__screenshot {
        width: 512px;
        margin-left: 56px;
    }

    .hero__screenshot--2 {
        width: 512px;
        margin-right: 64px;
    }

    .steps__grid {
        position: absolute;
        transform: translateX(-6.5rem);
    }
}

@media (max-width: 1080px) {

    .hero__screenshot--2{
        width:448px;
    }

    .steps__grid {
        width: 80px;
        height: 80px;
        bottom: 75px;
        left: 20rem;
    }


    

}


@media (max-width: 1024px) {

    .nav__links {
        display: none;
    }
    .nav__link--primary {
        position: relative;
        margin-right: 0;
        font-size: 18px;
        top: 24px;
        padding: 10px 28px;
    }
    .nav__link--primary:hover {
        text-decoration: none;
        margin-right: 0;
        font-size: 18px;
        top: 24px;
        padding: 10px 28px;
    }

    .btn__menu {
        display: block; 
    }

    .fa-bars {
        color:rgb(36, 62, 99);
    }

    .header__row--top {
        flex-direction: column;
        text-align: center;
    }
   
    .header__description--wrapper {
        justify-items: center;
        max-width: 1000px;
        text-align: center;
        margin:0 auto;
    }

    .header__title {
        font-size: 30px;
        font-weight: 700;
        margin-top: 96px;
    }

    .header__para {
        max-width: 576px;
        position: relative; 
    }

    .email__input--wrapper {
        width: 100%;
        justify-items: center;
        margin: 0 auto;
        margin-top: 56px;
        margin-bottom: 16px;
    }

    .img__sub {
        margin-top: 32px;
    }


    .header__img {
        max-width: 500px;
        margin-top: 90px;
        margin-right: 0px;
        
    }

    .section__title--center {
        margin-top: 56px;
    }

    .header__para--feature {
        max-width: 512px;
    }

    .features {
        max-width: 768px;
        margin: 0 auto;
    }

    .feature {
        width: calc(50%);
    }

    .feature__row {
        padding: 32px 8px;
        margin: 0 16px;
    }

    .quality__description--wrapper {
        padding-right: 40px;
    }

    .header__title--bold {
        font-size: 36px;
        margin-bottom: 16px;
    }

    .quality__para {
        font-size: 16px;
        padding-right: 40px;
    }

    .hero__screenshot {
        max-width: 400px;
        margin-right: 32px;
    }

    .quality__grid {
        margin-right: 16px;
    }

    .hero__screenshot--2 {
        max-width: 400px;
    }

    .steps__grid {
        left: 18.5rem;
    }
    
    .steps__title--bold {
        font-size: 36px;
    }

    .steps__description--wrapper {
        padding-right: 16px;
    }

    .values__list {
        flex-direction: column;
    }

    .prototype__img {
        width: 90%;
    }
       
    .plans {
        flex-direction: column;
        align-items: center;
        width: 80%;
        position: relative;
        left: 2rem;
        
    }

    .plans__blob {
        position: relative;
        bottom: 14rem;
        left: -3rem;
    }

    .header__row--bottom {
        max-width: 100%;
    }

    .testimonial__description--wrapper {
        margin-left: 0;
    }



    .final__row {
        display: flex;
        flex-direction: column;
        justify-items: center;
        text-align: center;
        position: relative;
    }

    .final__title {
        width: 100%;
        max-width: 576px;
        margin: 0 auto;
        left: 0;
        top: -2rem;
    }

    .start__buttons {
        position: absolute;
        width: 100%;
        margin-top: 64px;
        padding-top: 8px;

    }


    .start__blob--1 {
        position: absolute;
        top: 4rem;
    }

    .footer__socials--icon {
        padding: 8px;
    }
}





/* SMALL PHONES, TABLET, LARGE SMARTPHONES */


@media (max-width: 900px) {
    .header__row--middle {
        margin-left: 0;
    }

    .steps__description--wrapper {
        margin-right: 0;
    }
}

@media (max-width: 768px) {
    .nav__links {
        display: none;
    }
    .nav__link--primary {
        position: relative;
        margin-right: 0;
        font-size: 18px;
        top: 24px;
        padding: 10px 28px;
    }
    .nav__link--primary:hover {
        text-decoration: none;
        margin-right: 0;
        font-size: 18px;
        top: 24px;
        padding: 10px 28px;
    }

    .btn__menu {
        display: block; 
    }

    .header__row {
        display: flex;
        flex-direction: column;
        text-align: center;
        max-width: 90%;
        margin: 0 auto;
        margin-top: 64px;
    }
    
    .header__title {
        font-size: 32px;
    }



    .img__sub {
        position: relative;
        padding: 16px;
    }


    .header__img {
        max-width: 480px;
        margin: 0 auto;
        position: relative;
        top: 50px;
    }

    .header__para--feature {
        font-size: 14px;
    }


    .features {
        justify-content: center;
        transform: none;
    }

    .feature {
        width: 100%;
        max-width: 384px;
    }

    .header__row--middle {
        flex-direction: column-reverse;
    }


    .section__title {
        margin: 0 auto;
        margin-top: 32px;
    }

    .hero__screenshot {
        top: 0;
        right: 0;
    }

    .quality__grid {
        right: -3rem;
        bottom: -2.25rem;
    }

    .quality__description--wrapper, .values__description--wrapper {
        text-align: center;
        padding: 0;
        align-items: center;
        max-width: 90%;
    }

    .quality__para {
        font-size: 14px;
        padding-right: 0;
        margin-left: 0;
        margin-top: 24px;
    } 

    .header__title--bold {
        width: 480px;
        margin-left: 0;
        margin-bottom: 0;
        margin-top: 32px;
    }

    .header__description {
        width: 512px;
        max-width: 90%;
    }

    .btn__learnmore {
        margin-left: 0;
        margin-top: 32px;
    }

    .header__description--img {
        margin-top: 32px;
    }

    .hero__screenshot--2 {
        margin: 0 auto;
        margin-bottom: 48px;
    }

    .steps__grid {
        bottom: 1rem;
        left: 16.5rem;
    }

    .steps__description--wrapper {
        margin: 0 auto;
        padding-left: 0;
        padding-right: 0;
        margin-top: 32px;
    }

    .steps {
        display: flex;
        flex-direction: column;
    }

    .step__number--wrapper {
        flex-direction: column;
        align-items: center;
    }

    .step__number {
        padding-right: 0;
    }

    .step__description {
        margin-left: 0;
    }

    .step__number--wrapper:nth-child(1) .step__description {
        margin-left: 0;
    }

    .step__title {
        margin-top: 16px;
    }

    .value__description {
        font-size: 14px; 
        max-width: 100%;
        width: 512px;
        margin: 0 auto;
        margin-top: 32px;
    }

    .prototype__img {
        max-width: 100%;
        width: 448px;
        padding-left: 0;
    }

    .value {
        margin-right: 0;
        margin-top: 0;
        padding-left: 0
    }

    .value__title {
        justify-content: center;
        margin-top: 32px;
    }

    .values__list {
        width: 50%;
    }

    .pricing__title--header {
        max-width: 100%;
        width: 512px;
        text-align: center;
    }
    
    .pricing__para {
        font-size: 14px;
    }

    .header__row--bottom {
        flex-direction: column;
        max-width: 100%;
        margin-top: 0;
        margin: 0 auto;
    }



    .love__img {
        max-width: 100%; 
        margin: 0 auto;
    }

    .testimonial__description--wrapper {
        justify-items: center;
        text-align: center;
        margin: 0 auto;
        align-items: center;
        width: 512px;
        right: 0;
    }

    .testimonial__profile--wrapper {
        margin-right: 0;
        margin-left: 0;
        margin-bottom: 0;
        max-width: 100%;
        width: 512px;
    }

    .bottom__nav--wrapper {
        justify-content: flex-start;
        flex-wrap: wrap;
    }

    .bottom__nav--info {
        width: calc(100%/3);
    }

    .start__blob--3 {
        top: -7rem;
    }



    .final__container {
        margin-top: 108px;
        padding: 120px 0px;
        margin-left: 32px;
        margin-right: 32px;
    }

   .footer__wrapper {
        flex-direction: column;
   }


    

    





}





/* SMALL PHONES, LARGE SMARTPHONES */
@media (max-width: 640px) {
    .nav__links {
        display: none;
    }

    .nav__link--primary {
        position: relative;
        margin-right: 0;
        font-size: 18px;
        top: 16px;
        padding: 10px 28px;
    }

     .nav__link--primary:hover {
        text-decoration: none;
        margin-right: 0;
        font-size: 18px;
        top: 16px;
        padding: 10px 28px;
    }


    .btn__menu {
        display: block; 
    }

    .fa-bars {
        margin: 0 auto;
    }

   .header__row {
        display: flex;
        flex-direction: column;
        text-align: center;
        max-width: 90%;
        margin: 0 auto;
    }

    .header__description--wrapper {
        width: 100%;

    }

    .header__description {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
       
    }   

    .header__para {
        max-width: 90%;
        margin: 0 auto;
        margin-top: 32px;
    }

    .email__input--wrapper {
        flex-direction: column;
        align-items: center;
        position: relative;
        height: auto;

    }

    .header__email--input {
        max-width: 90%;
        margin: 0 auto;
        width: 456px;
        padding: 24px 48px;

    }

    .header__email--btn {
        padding: 24px;
        width: 456px; 
        position: static; 
        border-radius: 999px;
        font-size: 16px;
        font-weight: 600;
        max-width: 90%;
        margin-top: 96px;
        
    }

    .img__sub {
        max-width: 90%;
    }

    .header__img {
        max-width: 90%;
    }

    .features__title--bold, .pricing__title--header {
        text-align: center;
        font-size: 36px;
        width: 90%;
        
    }

    .header__para--feature {
        max-width: 90%;
        padding: 0 12px;
    }

    .feature__row {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center
    }

    .feature__img--wrapper {
        margin-bottom: 16px;
    }

    .feature__text {
        margin: 0 auto;
    }

    .feature__para {
        text-align: center;
        max-width: none;
    }

    .header__title--bold, .steps__title--bold{
        font-size: 30px;
        width: 90%;
    }

    .steps__title--bold {
        padding-left: 24px;
    }

    .header__row--middle {
        margin-bottom: 56px;
        margin-left: 24px;
        margin-right: 24px;
    }

    .quality__grid {
        right: 0;

    }


    .values__list {
        width: 90%;
    }

    .value__para {
        max-width: 90%;
        margin: 0 auto;
        margin-top: 16px;
    }

    .header__description--add {
        display: flex;
        justify-items: center;
        align-items: center;
        margin: 0 auto;
        position: relative;
    }

    .pricing {
        font-size: 36px;
    }

    .pricing__para {
        max-width: 90%;
    }

    .plans {
        left: 1rem;
    }

    .section__description {
        margin-top: 56px;
        padding-left: 0;
    }

    .testimonial__description--wrapper {
        width: 90%;
    }


    .testimonial__para {
        margin-left: 0;
    }    

    .testimonial__profile--wrapper {
        flex-direction: column;
        align-items: center;
        width: 200px;
        text-align: center;
    }

    .profile__img {
        margin-right: 0;
    }

    .testimonial__profile {
        top: 1rem;
        position: relative; 
        flex-direction: column;
        margin-left: 0;
    }

    .testimonial__btn--wrapper {
        margin:0 auto;
        margin-top: 32px;
        max-width: 100%;

    }

    .final__container {
        padding: 2rem 2rem;
    }

    .final__row {
        padding: 64px 0px;
        position: relative;
    }

    .final__title {
        max-width: 400px;
        font-size: 24px;
    }

    .start__buttons {
        display: flex;
        flex-direction: column;
        transform: translateX(0) translateY(0);
        align-items: center;
        margin: 0 auto;
        max-width: 400px;
        left: 0;
        position: relative;
    }

    .btn__get-started{
        padding: 12px 24px;
        font-size: 14px;
    }

    .btn__contact-us {
        margin-top: 16px;
        padding: 12px 24px;
        font-size: 14px;

    }
       
    .start__blob--1 {
        position: absolute;
        left: -8rem;
        top: 10rem;
    }

    .start__blob--2 {
        position: absolute;
        bottom: 17rem;
        right: -10rem;
    }

    .bottom__nav--wrapper {
        justify-content: center;
        margin: 0 auto;
    }

    .bottom__nav--info {
        width: auto;
        text-align: center;
    }

    .start__blob--4 {
        position: absolute;
        top: 6rem;
        right: -8rem;
    }

    .footer__logo {
        max-height: 32px;
    }

    .footer__copyright {
        font-size: 14px;
    }
        


}

